
# moon
.moon/cache
.moon/docker

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.tmp

# Dependency directories (remove the comment below to include it)
# vendor/
.vscode

# Misc
*.todo
*.env
config.toml
.data
coverage

# rust
/target
*.profraw


# node
node_modules
