.htmx-indicator {
    opacity: 0;
}

[data-loading] {
    display: none;
}

.active {
    @apply text-blue-400;
}

#last-event,
#list-todos {
    [data-kind] > div:first-child::before {
        content: "";
        height: 80%;
        width: 0.25rem;
    }

    [data-kind="Read"] > div:first-child::before {
        @apply bg-blue-400;
    }
    [data-kind="Create"] > div:first-child::before {
        @apply bg-green-400;
    }
    [data-kind="MarkAsDone"] > div:first-child::before {
        @apply bg-teal-400;
    }
    [data-kind="MarkAsUndone"] > div:first-child::before {
        @apply bg-fuchsia-400;
    }
    [data-kind="Delete"] > div:first-child::before {
        @apply bg-red-400;
    }
}
