<footer class="flex items-center p-4 justify-between">
    {% include "components/counter.html" %}

    <ul
        class="flex gap-4"
        hx-target="#list-todos"
        hx-push-url="true"
        hx-select-oob="true"
        hx-select="#list-todos"
    >
        <li>
            <a class="link hover:text-blue-400" data-status="all" href="/"
                >All</a
            >
        </li>
        <li>
            <a
                class="link hover:text-blue-400"
                data-status="pending"
                href="/?status=pending"
                >Active</a
            >
        </li>
        <li>
            <a
                class="link hover:text-blue-400"
                data-status="done"
                href="/?status=done"
                >Completed</a
            >
        </li>
    </ul>

    <div></div>
    <!-- <button
            type="button"
            class="btn btn-ghost"
            hx-confirm="Are you sure to remove all completed todos?"
            hx-disabled-elt="this"
            hx-post="/clear_all_completed_todos"
            disabled
        >
            Clear completed
        </button> -->
</footer>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const urlParams = new URLSearchParams(window.location.search);
        const status = urlParams.get("status") || "all";

        document
            .querySelector(`a[data-status="${status}"]`)
            ?.classList.add("text-blue-400");
    });
</script>
