{% macro render(id, description, done, created_at, done_at) %}
    <div
        data-done="{{ todo.done }}"
        data-id="{{ todo.id }}"
        class="flex gap-4 py-1 hover:bg-slate-100 cursor-pointer text-lg"
    >
        <div class="flex items-center gap-2 flex-1">
            <span
                {% if todo.done %}
                    class="text-pink-400"
                {% else %}
                    class="text-blue-400 accent-current"
                {% endif %}
            >
                {{ todo.description }}
            </span>
        </div>

        <div class="grid grid-cols-2 items-center gap-2">
            <span class="text-xs text-gray-300"> {{ todo.created_at }} </span>
            <span class="text-xs text-green-400"> {{ todo.done_at }} </span>
        </div>

        <div class="flex gap-1">
            <button
                type="button"
                {% if todo.done %}
                    class="btn btn-circle btn-sm btn-ghost hover:bg-fuchsia-400"
                    hx-post="/mark_as_undone/{{ todo.id }}"
                {% else %}
                    class="btn btn-circle btn-sm btn-ghost hover:bg-teal-400"
                    hx-post="/mark_as_done/{{ todo.id }}"
                {% endif %}
                hx-trigger="click"
                hx-swap="outerHTML"
                hx-target="[data-id='{{ todo.id }}']"
            >
                {% if todo.done %}
                    ✘
                {% else %}
                    ✔︎
                {% endif %}
            </button>
            <button
                type="button"
                class="btn btn-circle btn-sm btn-ghost hover:bg-red-400"
                hx-post="/remove_todo/{{ todo.id }}"
                hx-trigger="click"
                hx-swap="delete"
                hx-target="[data-id='{{ todo.id }}']"
                hx-confirm="Are you sure you want to delete this todo?"
            >
                🗑
            </button>
        </div>
    </div>
{% endmacro %}
