<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/assets/main.css" rel="stylesheet" />
        <title>{% block title %}TodoApp (HTMX){% endblock %}</title>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/loading-states.js"></script>

        {% block head %}{% endblock %}
    </head>
    <body class="flex justify-center" hx-ext="loading-states,class-tools">
        <div class="grid grid-rows-layout h-screen flex-1">
            <div class="">{% block header %}{% endblock %}</div>

            <div class="overflow-auto">{% block content %}{% endblock %}</div>

            <div class="">{% block footer %}{% endblock %}</div>
        </div>
    </body>
</html>
