{% import "components/item.html" as todo_item %}
{% import "components/footer.html" as footer %}
{% extends "layout/base.html" %}

{% block header %}
    <header class="px-4 py-8">
        <h1>
            <span
                class="text-transparent font-extrabold text-5xl bg-gradient-to-r bg-clip-text from-pink-500 to-blue-500"
            >
                Todo App
            </span>
        </h1>

        <form
            class="pt-8"
            id="new-todo"
            hx-post="/create_todo"
            hx-target="#list-todos"
            hx-swap="afterbegin"
            hx-on="htmx:afterRequest: document.getElementById('new-todo').reset();"
        >
            <input
                type="text"
                name="description"
                placeholder="What needs to be done?"
                class="input input-bordered w-full"
                autofocus
                required
                minlength="3"
            />
        </form>
    </header>
{% endblock %}

{% block content %}
    <main class="px-4">
        <ul id="list-todos" class="">
            {% for todo in todos %}
                <li>
                    {% call todo_item::render(todo.id, todo.description, todo.done, todo.created_at, todo.done_at, todo.need_removed_in_view) %}
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}

{% block footer %}
    {% call footer::render(num_items) %}
    <div class="text-sm text-gray-400 text-center">
        <span>Made with love with Rust 🦀 and HTMX</span>
    </div>
{% endblock %}
