{% extends "layout/base.html" %}
{% import "components/footer.html" as footer %}
{% import "components/list.html" as list %}

{% block title %}Todos Stream{% endblock %}

{% block header %}
    <header class="px-4 py-8">
        <h1>
            <span
                class="text-transparent font-extrabold text-5xl bg-gradient-to-r bg-clip-text from-pink-500 to-blue-500"
            >
                Todo App
            </span>
        </h1>

        <form
            class="pt-8"
            id="new-todo"
            hx-post="/create_todo"
            hx-target="#list-todos"
            hx-swap="none"
            hx-on="htmx:afterRequest: document.getElementById('new-todo').reset();"
        >
            <input
                type="text"
                name="description"
                placeholder="What needs to be done?"
                class="input input-bordered w-full"
                autofocus
                required
                minlength="3"
            />
        </form>
    </header>
{% endblock %}

{% block content %}
    <main class="px-4" hx-ext="sse">
        <div
            hx-get="/list_todos"
            hx-trigger="click"
            hx-target="#list-todos"
            id="trigger_list_todos"
        ></div>
        {% call list::render(todos) %}
    </main>
{% endblock %}

{% block footer %}
    {% call footer::render(0) %}
    <div class="text-sm text-gray-400 text-center">
        <span>Made with love with Rust 🦀 and HTMX</span>
    </div>
{% endblock %}
